<template name="homeAbout">
  <div class="cover">
    <div class="clearfix"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Nossa história</h1>
          <p class="lead">
            Inserir história do projeto Bottini.
          </p>
          <h1>Nossa missão</h1>
          <p class="lead">
            Inserir missão do projeto Bottini.
          </p>
          <h1>Nosso valores</h1>
          <p class="lead">
            Inserir valores do projeto Bottini.
          </p>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</template>