<template name="homeAbout">
  <div class="cover">
    <div class="clearfix"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Nossa história</h1>
          <p>
            A Bottini Store surgiu através de um projeto da Disciplina de Desenvolvimento de Software, do curso de graduação em Engenharia de Software da Universidade de Brasília, no Brasil. Estando o Project Bottini em sua pimeira verão.
          </p>
          <h1>Nossa missão</h1>
          <p>
            Project Bottini busca de forma natural e clara a facilitação do processo de venda de chatbots de venda para pequenos comércios, o incentivo ao comércio local e a modernização do comércio eletrônico. De forma objetiva, qualquer pessoa poderá selecionar uma loja que possua uma página no Facebook, entrar em um chat automático com a mesma; seguir um fluxo como uma conversa convencional e realizar uma encomenda ou uma entrega até sua casa.
          </p>
        </div>
      </div>
      <hr/>
    </div>
  </div>
</template>